/* font of google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles  */
body {
    margin: 0;
    background-color: #E03B8B;
    font-family: 'Poppins', sans-serif;
}
hr {
    border-left: 1px solid gray;
    border-right: 0;
    border-bottom: 0;
}
/*-----------------
 header area 
------------------ */
.header-area {
    padding: 20px;
}
.container {
    width: 80%;
    margin: auto;
    
}
.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
.menu img {
    width: 100px;
    height: 100px;
}

.menu ul {
    display: flex;
    padding-left: 0;
}
.menu ul li {
    list-style: none;
}
.menu ul li a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    color: #24315e;
    font-size: 18px;
}
.main-menu ul li:hover a {
    color: #ffffff;
}
.cv-menu a {
    text-decoration: none;
    text-transform: capitalize;
    color: #ffffff;
    background-color: #24315e;
    padding: 10px;
    border-radius: 5px;
}
.cv-menu a:hover {
    background-color: #ffffff;
    color: #24315e;
}

/* header end  */
main {
    color: #ffffff;
}
.main-content {
    display: flex;
    justify-content: space-between;
}
.content-text {
    margin-top: 250px;
}
.hi {
    font-size: 30px;
    margin: 0;
}
.name {
    font-size: 50px;
    margin: 0;
}
.develop {
    margin: 0 0 40px;
}

a.hello {
    margin-right: 40px;
    background-color: #ffffff;
    color: #24315e;
    padding: 10px 20px;
    text-decoration: none;
}
a.hello:hover {
    background-color: #24315e;
    color: #ffffff;
}
a.work {
    color: #24315e;
}
a.work:hover {
    text-decoration: none;
}
p.para {
    font-size: 20px;
    font-style: italic;
    margin-top: 200px;
}
/* conten image  */
.networking {
    margin: 80px 0 0 200px ;
}
.networking a {
    margin: 30px;
    font-size: 20px;
    color: #24315e;
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
}

/* Media Queries  */
@media screen and (max-width: 1200px) {
    .main-menu {
        flex-direction: column;
        align-items: center;
    }
    .main-content {
        flex-direction: column;
    }
    .networking {
        flex-direction: row;
    }
    .cv-menu {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 768px) {
    .menu ul {
        flex-direction: column;
    }
    .cv-menu {
        margin-bottom: 30px;
    }
    .content-image img {
        justify-content: left;
    }
    .networking {
        margin: 0 ;
    }
}